# neon db pool
DATABASE_URL=
# neon db direct
DIRECT_URL=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# resend email service
RESEND_API_KEY=
RESEND_FROM_EMAIL="SST Flow <onboarding@resend.dev>"
